<div id="map"></div>

<% content_for :foot do %>
<script type="text/javascript" src="http://github.com/simplegeo/polymaps/raw/v2.2.0/polymaps.js"></script>
<script type="text/javascript" language="javascript" src="/javascripts/map.js"></script>
<script type="text/javascript" language="javascript" src="<%= CDN_URL %>/fly.js"></script>
<% end %>